@charset "utf-8";
/* CSS Document */

body{font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
font-size: 100%;margin: 20px;background: lightblue;}

#wrapper{width: 100%;}

#header{width: 100%;}
#header h1{font-size: 1.3em;}

#nav{display: none;}


#menubtn {
float: left;
height: 130px;
width: 220px;
}
#menubtn ul {
margin: 0px;
padding: 0px;
}
#menubtn ul li.home {
float: left;
height: 130px;
width: 95px;
padding-top: 0px;
padding-right: 8px;
padding-bottom: 0px;
padding-left: 0px;
list-style-type: none;
}
#menubtn ul li.home a {
background-image: url(../images/homebtn_out.gif);
background-repeat: no-repeat;
float: left;
height: 130px;
width: 95px;
}
#menubtn ul li.home a:hover {
background-image: url(../images/homebtn_over.gif);
}


#menubtn ul li.photo {
float: left;
height: 130px;
width: 95px;
padding-top: 0px;
padding-right: 8px;
padding-bottom: 0px;
padding-left: 0px;
list-style-type: none;
}
#menubtn ul li.photo a {
background-image: url(../images/photobtn_out.gif);
background-repeat: no-repeat;
float: left;
height: 130px;
width: 95px;
}
#menubtn ul li.photo a:hover {
background-image: url(../images/photobtn_over.gif);
}

#menu{display: none;}

#content{clear: both;}
#content p{margin: 0;}