@charset "utf-8";
/* CSS Document */

.wrap{max-width: 960px;margin: 0 auto;}

.header{height: 350px;position: relative;} /*相對定位，響應視窗*/
.header .logo{position: absolute;top: 30px;left: 0;}/*絕對定位，固定logo位置*/
.header .logo a{background: url(../images/M1.png);width: 250px;height: 250px;display: block;text-indent: -9999px;}

.menu{float: right;margin: 30px 0 0 0;}/*整個nenu位置*/
.menu li{float: left;background: #39f;border-right: 1px solid #fff;}/*menu內樣式*/
.menu li:last-child{border-right: 0;}
.menu li a{width: 100px;height: 30px;display: block;color: #fff;text-align: center;line-height: 30px;text-decoration: none;font-weight: bold;}/*行內樣式*/
.menu li a:hover{background: #30f;}/*li效果*/

.content{width: 75%;border: 2px solid;padding: 20px;text-align:justify;}/*text-align:justify行左右對齊*/
.content h2{font-weight: bold;font-size: 1.5em;margin: 30px 0 20px 0;}
.content p{line-height: 2;letter-spacing: .1em;} /*letter-spacing字距*/

.content{width: 70%;border: 2px solid;padding: 20px;text-align:justify;float: left;}/*float: left; 讓2塊區域並排*/
.content h2{font-weight: bold;font-size: 1.5em;margin: 30px 0 20px 0;}
.content p{line-height: 2;letter-spacing: .1em;}

.sidebar{float: right;width: 20%;border: 2px solid;margin-left:3%;padding: 5px;}/*float: right; 讓2塊區域並排*/
.sidebar img{max-width: 100%;height: auto;}/*height: auto; 用在效果*/

.footer{clear: both;}