@charset "utf-8";
/* CSS Document */

.wrap{max-width: 960px;margin: 0 auto;}

.header{height: 350px;position: relative;} /*相對定位，響應視窗*/
.header .logo{position: absolute;top: 30px;left: 0;}/*絕對定位，固定logo位置*/
.header .logo a{background: url(../images/M1.png);width: 250px;height: 250px;display: block;text-indent: -9999px;}
